{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'create_todo' %}">Create a new ToDo</p></a>
            <p><a href="{% url 'create_item' %}">Create a new ToDo Item</p></a>
            <table>
                <thead>
                    <th>Name</td>
                    <th>Number of items</td>
                </thead>
                <tbody>
                    {% for item in TodoList_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' item.id %}">{{ item }}</a></td>
                        <td>{{ item.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>