{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ TodoList_object.name }}</h1>
            <p><a href="{% url 'todo_list_update' TodoList_object.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' TodoList_object.id %}">Delete</a></p>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in TodoList_object.items.all %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ items.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>